<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LDAP_DIRECTORY_NAME" value="ucdenver.pvt" />
    <add key="DOMAIN_NAME" value="ucdenver" />
    <add key="DOMAIN" value="ucdenver" />
    <add key="LDAP" value="ucdenver.pvt" />
    <add key="PAGESIZE" value="25" />
    <add key="EMAIL_SERVER" value="mail.ucdenver.pvt" />
    <!-- start-->
    <add key="COD_ADMIN_GROUP" value="sdm-a-insteff-admin" />
    <!-- restorative-->
    <add key="RESTORE_POWER" value="sdm-a-insteff-poweruser-restorative" />
    <add key="RESTORE_USER" value="sdm-a-insteff-restorative-user" />
    <!-- surgiacl-->
    <add key="SURGICAL_POWER" value="sdm-a-insteff-poweruser-surgical" />
    <add key="SURGICAL_ENDO" value="sdm-a-insteff-surgical-endodontics-user" />
    <add key="SURGICAL_ORAL" value="sdm-a-insteff-surgical-oralsurgery-user" />
    <add key="SURGICAL_PERIO" value="sdm-a-insteff-surgical-periodontics-user" />
    <add key="SURGICAL_EMER" value="sdm-a-insteff-surgical-periodontics-user" />
    <!-- standards of care-->
    <add key="STANDARS_POWER" value="sdm-a-insteff-poweruser-standardsofcare" />
    <add key="STANDARS_USER" value="sdm-a-insteff-standardsofcare-user" />
    <!-- Research-->
    <add key="RESEARCH_POWER" value="sdm-a-insteff-poweruser-research" />
    <add key="RESEARCH_GRANTS" value="sdm-a-insteff-research-grants-user" />
    <add key="RESEARCH_PUBLIC" value="sdm-a-insteff-research-publication-user" />
    <add key="RESEARCH_COLLAB" value="sdm-a-insteff-research-collaborations-user" />
    <!-- pediatrics-->
    <add key="PEDIATRICS_POWER" value="sdm-a-insteff-poweruser-pediatrics" />
    <add key="PEDIATRICS_USER" value="sdm-a-insteff-pediatrics-user" />
    <!-- finance-->
    <add key="FINANCE_POWER" value="sdm-a-insteff-poweruser-financialoutcomes" />
    <add key="FINANCE_OPREV" value="sdm-a-insteff-financialoutcomes-opsrevenue-user" />
    <add key="FINANCE_CLIREV" value="sdm-a-insteff-financialoutcomes-clinrevenue-user" />
    <add key="FINANCE_OPEXP" value="sdm-a-insteff-financialoutcomes-opsexpense-user" />
    <add key="FINANCE_CAPITAL" value="sdm-a-insteff-financialoutcomes-capital-user" />
    <add key="FINANCE_LNGRSV" value="sdm-a-insteff-financialoutcomes-ltreserves-user" />
    <!-- Diversity -->
    <add key="DIVERSITY_POWER" value="sdm-a-insteff-poweruser-diversity" />
    <add key="DIVERSITY_APPS" value="sdm-a-insteff-diversity-applications-user" />
    <add key="DIVERSITY_ENROLL" value="sdm-a-insteff-diversity-enrollment-user" />
    <add key="DIVERSITY_FAC" value="sdm-a-insteff-diversity-facstaff-user" />
    <add key="DIVERSITY_MISC" value="sdm-a-insteff-diversity-misc-user" />
    <!-- biological -->
    <add key="BIOLOGICAL_POWER" value="sdm-a-insteff-poweruser-diagnostic" />
    <add key="BIOLOGICAL_RADIO" value="sdm-a-insteff-diagnostic-radiology-user" />
    <add key="BIOLOGICAL_ORAL" value="sdm-a-insteff-diagnostic-oral-user" />
    <!-- Clinical -->
    <add key="CLINICAL_POWER" value="sdm-a-insteff-poweruser-clinicaloutcomes" />
    <add key="CLINICAL_USER" value="sdm-a-insteff-clinicaloutcomes-user" />
    <!-- Dentistry -->
    <add key="DENTISTRY_POWER" value="sdm-a-insteff-poweruser-applied" />
    <add key="DENTISTRY_USER" value="sdm-a-insteff-applied-user" />
    <!-- Academic -->
    <add key="ACADEMIC_POWER" value="sdm-a-insteff-poweruser-academic" />
    <add key="ACADEMIC_USER" value="sdm-a-insteff-academic-user" />
    <!-- SURVEY -->
    <add key="SURVEY_POWER" value="sdm-a-insteff-codasurvey-poweruser" />
    <add key="SURVEY_USER" value="sdm-a-insteff-codasurvey-user" />
    <add key="ServerStatus" value="false" />
    <add key="Msg" value="Test Prod" />
    <add key="RESTORE_USER" value="sdm-a-insteff-restorative-user" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7" debug="true" />
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms name="COD" loginUrl="~/Login/Login" protection="All" timeout="20" path="/" requireSSL="true" slidingExpiration="true" />
    </authentication>
    <sessionState mode="InProc" timeout="20" />
    <httpCookies domain="" httpOnlyCookies="true" requireSSL="true" />
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="/Error/Index">
      <error redirect="/Error/Index" statusCode="400" />
      <error redirect="/Error/Index" statusCode="401" />
      <error redirect="/Error/Index" statusCode="402" />
      <error redirect="/Error/Index" statusCode="403" />
      <error redirect="/Error/Index" statusCode="404" />
      <error redirect="/Error/Index" statusCode="405" />
      <error redirect="/Error/Index" statusCode="406" />
      <error redirect="/Error/Index" statusCode="407" />
      <error redirect="/Error/Index" statusCode="408" />
      <error redirect="/Error/Index" statusCode="409" />
      <error redirect="/Error/Index" statusCode="410" />
      <error redirect="/Error/Index" statusCode="411" />
      <error redirect="/Error/Index" statusCode="412" />
      <error redirect="/Error/Index" statusCode="413" />
      <error redirect="/Error/Index" statusCode="414" />
      <error redirect="/Error/Index" statusCode="415" />
      <error redirect="/Error/Index" statusCode="416" />
      <error redirect="/Error/Index" statusCode="417" />
      <error redirect="/Error/Index" statusCode="500" />
      <error redirect="/Error/Index" statusCode="501" />
      <error redirect="/Error/Index" statusCode="502" />
      <error redirect="/Error/Index" statusCode="503" />
    </customErrors>
  </system.web>
  <system.webServer>
	  <rewrite>    
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <!--<security>
        <requestFiltering removeServerHeader ="true" />
    </security>-->
    <staticContent>
      <!--Cache static content for 24 hours-->
      <!--clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24.00:00:00" /-->
      <!--Allow json file loading (used by Roxy Fileman)-->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <!--<httpErrors existingResponse="Replace" errorMode="Custom">
            <remove statusCode="503" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" subStatusCode="-1" />
            <error statusCode="400" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
            <error statusCode="503" prefixLanguageFilePath="" path="/Error/Index" responseMode="ExecuteURL" />
        </httpErrors>-->
  </system.webServer>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Pe+ZMZGcpZ/9TXVyNdBqVikwlD4FfFxBuT0ZisSPuaDL2luxppd/yORIZl0pxZG/DkyBGiWzDLz0HA6tmcWs3RaEbgLu88PLwCxTqzkoDPkue3qbg7sNho4pOaErdaIA0KDm07CNDvRNH8cCtwofyk2QdB5UYjw+e9TL7urbL7PMmTo/j6RsHTpJ2chyirD3lnXd6HfM5fQ4DKvCOx0UWniEhjsvA3w3HRh13TY5HhDpSnEHIWMx5UMD4pYg/ewVhVLTWGSyssS1a46T+54ODHnn9hKAWp8ZyObyDCZqx96Xx4ohcorGvG40zghdBe4JsQJICp9nCDrsZtcNcAfTIg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>9pHorOrgfy86RsrZie0GfF9h9/Qfq0FV/qj+hd8H6mhuRVojNHBKSlYNv8j/2lZBOV/2L7usrJ8v/SVF8Nb3ecNBoay1UMhTJCY9nMOOupqV0MJGFay+bDxUFmlgCXqMDfUnLdys76K8hM65nRHHMjlEy90XsHTciRagEDfnu0i3LIj3Hw7pnzl5lfYu9XHVV3hfjf5Qsibnf2mD/ey1tS+/lPB5Pthp5+9mEt+tUktfI+5m2x3D5NHEumkFFnuaFmWToPEdeKEara9/evbg4Awwp07OYUphDp99KFDMc0siZJkBMb3k9Q==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>