<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="~/assets/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Jalaram
                    <small> Travel</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub active">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li class="active"><a href="/Home/Index">Home </a></li>
                    <li class="active"><a href="/Home/SearchLR">Search LR </a></li>
                </ul>
            </li>
             

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-align-left"></i>
                    <span>Master</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            Charges
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/Hamali/">Hamali</a></li>
                            <li><a href="/Damrage/">Damrage</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            Parcel Containt
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/ParcelContaint/">View</a></li>
                            <li><a href="/ParcelContaint/Create">Create</a></li>  
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            Parcel Type
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/ParcelType/">View</a></li>
                            <li><a href="/ParcelType/Create">Create</a></li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            Customer
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/Customer/">View</a></li>
                            <li><a href="/Customer/Create">Create</a></li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                           User
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/User/">View</a></li>
                            <li><a href="/User/Create">Create</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-road "></i>
                    <span>City</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/City/">View</a></li>
                    <li><a href="/City/Create">Create</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-bus "></i>
                    <span>Bus</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Bus/">View</a></li>
                    <li><a href="/Bus/Create">Create</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-truck"></i>
                    <span> PickUpBoy</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/PickUpBoy/">View</a></li>
                    <li><a href="/PickUpBoy/Create">Create</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-upload"></i>
                    <span>Upload </span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/home/Transaction">Manual </a></li>
                    <li><a href="/home/UploadFiles">Upload Excel</a></li> 
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-location-arrow"></i>
                    <span>Transaction</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/home/Preview">Preview</a></li>
                    <li><a href="/home/Undelivered">Undelivered</a></li>
                    <li><a href="/home/InTransit">InTransit</a></li>
                    <li><a href="/home/Delivered">Delivered</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-money"></i>
                    <span>Payment </span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/home/PaymentToPay">ToPay Payment</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-print"></i>
                    <span>Report</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Report/Transaction">Transaction Report</a></li>
                    <li><a href="/Report/Undelivered">Undelivered Report</a></li>
                    <li><a href="/Report/InTransit">InTransit Report</a></li>
                    <li><a href="/Report/Delivered">Delivered Report</a></li>
                    <li><a href="/Report/Customer">Customer Report</a></li>
                    <li><a href="/Report/Payments">Payments Report</a></li>
                    <li><a href="/Report/User">User Collection Report</a></li>
                </ul>
            </li>
            

            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
